.timeline {
  position: relative;
}

.timeline .line {
  border-right: 2px solid rgb(170, 170, 170);
  left: calc(1em - 1px);
  position: absolute;
  top: 0px;
  height: 100%;
  z-index: -1;
}

.timeline ol {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.timeline li {
  margin-bottom: 1em;
}

.timeline ol li .title-container {
  align-items: center;
  display: flex;
  margin-bottom: 1em;
}

.timeline ol li .title-container .circle {
  background-color: rgb(55, 114, 74);
  border-radius: 100%;
  height: 2em;
  width: 2em;
}

.timeline ol li .title-container .title {
  flex: 1;
  margin-left: .5em;
  margin-bottom: 0;
}

.timeline ol li .description {
  margin-left: 3em;
}

.timeline ol li .description img {
  width: 100%;
  max-width: 45em;
  max-height: 45em;
}
